.header_element {
    width: 1440px;
    height: 156px;
    box-shadow: 0px 4px 8.7px 0px #00000040;
    border: 1px solid black;
    position: relative;
}

.header_img {
    width: 205px;
    height: 55px;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
}

.element_head {
    width: 34px;
    height: 32px;
    position: absolute;
    top: 62px;
    left: 400px;
}

.qwer {
    position: absolute;
    color: #BCAAAA;
    top: -5px;
    left: 35px;
}

.element_head1 {
    position: absolute;
    width: 34;
    height: 29;
    top: 64px;
    left: 550px;
    opacity: 1;

}

.qwe {
    position: absolute;
    color: #BCAAAA;
    top: -5px;
    left: 35px;
}

.element_head2 {
    position: absolute;
    color: #BCAAAA;
    width: 30;
    height: 28.799999237060547;
    top: 65px;
    left: 700px;
    opacity: 1;

}

.qw {
    position: absolute;
    top: -5px;
    left: 35px;
    color: #EF400F;
}

.q {
    color: #EF400F;
    position: absolute;
    top: 30px;
}

.post {
    background-image: url(./Rectangle\ 1\ \(2\).png);
    background-repeat: no-repeat;
    width: 219;
    height: 63;
    top: 48px;
    left: 1007px;
    border-width: 3px;
    border-radius: 20px;
    position: absolute;
}

.plus {
    width: 17;
    height: 29;
    top: 0px;
    left: 5px;
    opacity: 1;
    position: absolute;
    color: #EF400F;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.text_post {
    position: absolute;
    width: 152;
    height: 29;
    top: 0px;
    left: 30px;
    opacity: 1;
    color: #EF400F;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EF400F;
}

.last_logo {
    position: absolute;
    width: 57;
    height: 70;
    top: 43px;
    left: 1277px;
    opacity: 1;

}

main {
    width: 1440px;
    height: 1283px;
    display: flex;
    position: relative;
    box-shadow: 0px 4px 17.9px 0px #00000040;    

}

.main_logo {
    position: absolute;
    width: 56;
    height: 56;
    top: 67px;
    left: 106px;
    opacity: 1;

}

.main_magaz {
    position: absolute;
    width: 165;
    height: 48;
    top: -10px;
    left: 60px;
    opacity: 1;
    color: #0D0C5C;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;


}

.main_search {
    position: absolute;
    width: 386px;
    height: 63px;
    top: 60px;
    left: 444px;
    opacity: 1;
    border-radius: 20px;
    background-color: black;

}

.search_p {
    width: 103;
    height: 29;
    top: 17px;
    left: 21px;
    opacity: 1;
    position: absolute;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFB8;
}

.next_search {
    position: absolute;
    width: 116px;
    height: 63px;
    top: 60px;
    left: 852px;
    opacity: 1;
    border-radius: 20px;
    background-color: #0D0D5B;
}

.search {
    position: absolute;
    width: 52;
    height: 29;
    top: 0px;
    left: 32px;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: aliceblue;
}

.history {
    position: absolute;
    width: 40;
    height: 40;
    top: 67px;
    left: 1068px;
    opacity: 1;

}

.history_text {
    position: absolute;
    width: 209;
    height: 39;
    top: -40px;
    left: 50px;
    opacity: 1;
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #EF400F;
}

.first {
    position: relative;
    width: 290px;
    height: 290px;
    top: 240px;
    left: 97px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;
}

.img1 {
    position: absolute;
    width: 184;
    height: 118;
    top: 44px;
    left: 54px;
    opacity: 1;

}

.img1t {
    position: absolute;
    width: 64;
    height: 18;
    top: 150px;
    left: 119px;
    opacity: 1;

}

.div_coin {
    position: absolute;
    width: 18;
    height: 19.384614944458008;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell {
    position: absolute;
    width: 29;
    height: 19;
    top: 185px;
    left: 115px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;


}

.qoldi {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;

}

.second {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 240px;
    left: 412px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img {
    width: 135;
    height: 135;
    top: 27px;
    left: 86px;
    opacity: 1;
    position: absolute;
}

.element2_text {
    width: 121;
    height: 18;
    position: absolute;
    width: 29;
    height: 19;
    top: 150px;
    left: 115px;
    opacity: 1;
    position: absolute;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;

}

.coin2 {
    position: absolute;
    width: 18;
    height: 19.384614944458008;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell2 {
    position: absolute;
    width: 29;
    height: 19;
    top: 185px;
    left: 115px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.qoldi1 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.third {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 240px;
    left: 728px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img2 {
    width: 123px;
    height: 123px;
    top: 27px;
    left: 86px;
    opacity: 1;
    position: absolute;
}

.element3_text {
    position: absolute;
    top: 150px;
    left: 93px;
    width: 121px;
    height: 18px;
}

.coin3 {
    position: absolute;
    width: 18;
    height: 19.384614944458008;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell3 {
    position: absolute;
    width: 29px;
    height: 19px;
    top: 185px;
    left: 122px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.qoldi2 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.forth {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 240px;
    left: 1044px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img3 {
    width: 184px;
    height: 154px;
    top: 27px;
    left: 62px;
    opacity: 1;
    position: absolute;
}

.element4_text {
    position: absolute;
    width: 133px;
    height: 18px;
    top: 161px;
    left: 87px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #00000054;


}

.coin4 {
    position: absolute;
    width: 18;
    height: 19.384614944458008;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell4 {
    position: absolute;
    width: 29px;
    height: 19px;
    top: 185px;
    left: 122px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #BCAAAA;
}

.qoldi3 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.fives {
    position: relative;
    position: absolute;
    width: 290px;
    height: 290px;
    top: 565px;
    left: 97px;
    border-radius: 30px;
    opacity: 1;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img4 {
    position: absolute;
    width: 152;
    height: 152;
    top: 9px;
    left: 60px;
    opacity: 1;

}

.element5_text {
    position: absolute;
    width: 49px;
    height: 18px;
    top: 158px;
    left: 110px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;

}

.coin5 {
    position: absolute;
    width: 18;
    height: 19.384614944458008;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell5 {
    position: absolute;
    width: 29px;
    height: 19px;
    top: 185px;
    left: 122px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.qoldi4 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.sixs {
    width: 290px;
    height: 290px;
    top: 565px;
    left: 412px;
    opacity: 1;
    border-radius: 30px;
    position: absolute;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img5 {
    position: absolute;
    width: 201;
    height: 147;
    top: 15px;
    left: 53px;
    opacity: 1;

}

.element6_text {
    position: absolute;
    width: 57px;
    height: 18px;
    top: 162px;
    left: 125px;
    opacity: 1;

}

.coin6 {
    position: absolute;
    width: 18;
    height: 19.384614944458008;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell6 {
    position: absolute;
    width: 29px;
    height: 19px;
    top: 185px;
    left: 122px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.qoldi5 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.sevens {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 565px;
    left: 728px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;
}

.img6 {
    position: absolute;
    width: 154;
    height: 154;
    top: 4px;
    left: 74px;
    opacity: 1;

}

.element7_text {
    position: absolute;
    width: 81;
    height: 18;
    top: 162px;
    left: 110px;
    opacity: 1;

}

.coin7 {
    position: absolute;
    width: 18px;
    height: 19.384614944458008px;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell7 {
    position: absolute;
    width: 29px;
    height: 19px;
    top: 185px;
    left: 122px;
    opacity: 1;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.qoldi6 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.eights {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 565px;
    left: 1044px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img7 {
    position: absolute;
    width: 171;
    height: 149;
    top: 10px;
    left: 65px;
    opacity: 1;

}

.element8_text {
    position: absolute;
    width: 110px;
    height: 18px;
    top: 162px;
    left: 92px;
    opacity: 1;

}

.coin8 {
    position: absolute;
    width: 18px;
    height: 19.384614944458008px;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell8 {
    width: 31;
    height: 19;
    top: 185px;
    left: 122px;
    opacity: 1;
    position: absolute;
}

.qoldi7 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.nines {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 889px;
    left: 97px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img8 {
    position: absolute;
    width: 125;
    height: 125;
    top: 18px;
    left: 91px;
    opacity: 1;
}

.element9_text {
    position: absolute;
    width: 89px;
    height: 18px;
    top: 161px;
    left: 109px;
    opacity: 1;

}

.coin9 {
    position: absolute;
    width: 18px;
    height: 19.384614944458008px;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell9 {
    width: 31;
    height: 19;
    top: 185px;
    left: 122px;
    opacity: 1;
    position: absolute;
}

.qoldi8 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.ten {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 889px;
    left: 416px;
    opacity: 1;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img9 {
    width: 128;
    height: 128;
    top: 17px;
    left: 81px;
    opacity: 1;
    position: absolute;
}

.element10_text {
    position: absolute;
    width: 93px;
    height: 18px;
    top: 162px;
    left: 112px;
    opacity: 1;

}

.coin10 {
    position: absolute;
    width: 18px;
    height: 19.384614944458008px;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell10 {
    width: 31;
    height: 19;
    top: 185px;
    left: 122px;
    opacity: 1;
    position: absolute;
}

.qoldi9 {
    position: absolute;
    width: 98;
    height: 16;
    top: 250px;
    left: 10px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.eleven {
    width: 290px;
    height: 290px;
    top: 887px;
    left: 732px;
    opacity: 1;
    border-radius: 30px;
    position: absolute;
    box-shadow: 0px 4px 13.3px 0px #00000040;
}

.img10 {
    position: absolute;
    width: 165px;
    height: 165px;
    opacity: 1;
    top: 5px;
    left: 69px;
}

.element11_text {
    position: absolute;
    width: 108px;
    height: 18px;
    top: 162px;
    left: 95px;
    opacity: 1;

}

.coin11 {
    position: absolute;
    width: 18px;
    height: 19.384614944458008px;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell11 {
    width: 31;
    height: 19;
    top: 185px;
    left: 122px;
    opacity: 1;
    position: absolute;
}

.qoldi10 {
    position: absolute;
    width: 98px;
    height: 16px;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

.last {
    position: absolute;
    width: 290px;
    height: 290px;
    top: 884px;
    left: 1048px;
    border-radius: 30px;
    opacity: 1;
    box-shadow: 0px 4px 13.3px 0px #00000040;

}

.img11 {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 11px;
    left: 84px;
    opacity: 1;
}

.element12_text {
    position: absolute;
    width: 133;
    height: 18;
    top: 162px;
    left: 83px;
    opacity: 1;

}

.coin12 {
    position: absolute;
    width: 18px;
    height: 19.384614944458008px;
    top: 196px;
    left: 94px;
    opacity: 1;
}

.sell12 {
    width: 31;
    height: 19;
    top: 185px;
    left: 122px;
    opacity: 1;
    position: absolute;
}

.qoldi11 {
    position: absolute;
    width: 98px;
    height: 16px;
    top: 250px;
    left: 102px;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000BF;
}

footer {
    width: 1440px;
    height: 65px;
    box-shadow: 0px 4px 17.9px 0px #00000040;
    border: 1px solid #BCAAAA4F;
    position: relative;
}

.last_word {
    width: 163;
    height: 19;
    top: 10px;
    left: 110px;
    position: absolute;
    opacity: 1;
    font-family: Inter;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;


}

.lasts_logo {
    position: absolute;
    width: 118;
    height: 32;
    top: 10px;
    left: 669px;
    opacity: 1;

}
.site{
    position: absolute;
    width: 237;
height: 19;
top: 10px;
left: 1109px;

opacity: 1;

}